.productwrapper {
    width: 100%;
    height: max-content;
    /* background-color: darkgrey; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.productdetailsbody {
    width: 100%;
    height: 160px;
    background-color: #f2e9d8;
    color: rgb(34, 33, 33);
    text-align: center;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 30px; */
}
h2 {
    margin: 0;
    margin-top: 40px;
    font-weight: 550;
    font-size: 30px
    
    /* font-style: normal; */
}

.hometext {
    border-right: 1px solid rgb(135, 134, 134);
    padding: 9px 20px 0px 30px;
    margin: 0px ;
    height: max-content;
    margin: 0;
    /* background: #000; */
    /* font-size: 13px; */
    /* color: rgb(134, 133, 133); */
}


.textwrapper {
    width: 20%;
    height: max-content;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
    color: rgb(118, 117, 117);
    font-size: 15px;
    cursor: pointer;
    /* background: #000; */
    /* padding: 0px 20px 0px 0px;
    margin: 0px 20px 0px 0px ; */
}

.detailwrapper {
    width: 90%;
    height: 450px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 100px;
    /* gap: 80px; */
}

.detailproductimage {
    width: 30%;
    height: 90%;
    background-color: rgb(241, 239, 239);
    display: flex;
    flex-direction: column;
    /* margin: 50px; */
   
    
}
.pricelistwrap {
    width: 60%;
    height: 80%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    /* margin-left: 150px; */
    
}
.pricetextholder {
    width: 80%;
    height: 90%;
    /* background-color: blue; */
    color: white;
    
}
h3 {
    font-weight: 300;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 15px;
}
p {
    margin: 10px 5px 30px ;
}
.pricetextholder span {
    font-weight: 300;
    font-size: 40px;
    margin-top: 30px;
}

/* .review {
    width: 30%;
    height: 15%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
} */

.review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    /* margin-right: 30px; */
}

.rating {
    display: flex;
    gap: 5px; 
}

.rating i {
    font-size: 20px; 
    color: white; 

}
.reviewcounts {
    font-size: 13px;
}

.buttonwrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 15px;
    margin-top: 30px;
    /* margin-right: 100px; */
    
    
}
.buttoncart {
    width: 30%;
    height: 40px;
    background-color: white;
    color: #000;
    border-radius: 150px;
    cursor: pointer;
    /* margin-top: 70px; */
    font-size: 17px;
    font-weight: 400;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset; */

}

.buttoncart {
    display: flex;
    position: relative;
    overflow: hidden;
}

.buttoncart::before {
    content: "Add To Cart";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease-in-out;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.buttoncart:hover::before {
    left: 0;
}

.buttoncart:hover{
    box-shadow: rgb(246, 245, 245) 0px 20px 50px 4px;
}

.sharebtn {
    position: relative;
    overflow: hidden;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    gap: 8px; 
    /* background-color: #070808; */
    /* color: black; */
    border: none;
    border-radius: 200px;
    padding: 14px 18px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 55%;
    transition: background 0.3s ease  transform 0.3s ease;
}
.sharebtn::before {
    content: "";
    position: absolute;
    bottom: -100;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(253, 251, 251);
    transition: top 0.4s ease-in-out;
}
.sharebtn:hover::before {
    bottom: 0;
    background-color: red;
    transform: scale(1.05);
    /* box-shadow: rgb(246, 245, 245) 0px 20px 50px 4px; */
}
/* .sharebtn:hover::before {
    background-color: #f62d2d;
    transform: scale(1.05);
} */
.sharebtn:hover {
    box-shadow: rgb(246, 245, 245) 0px 20px 50px 4px;
}

.sharebtn i {
    font-size: 18px;
    color: black;
    position: relative;
    z-index: 1; 
}

/* .sharebtn:hover::before {
    background-color: red;
    transform: scale(1.05);
} */



.descriptionwrapper {
    width: 80%;
    height: 800px;
    /* background-color: black; */
    display: flex;
    justify-content: flex-start;
    /* gap: 20px; */
    margin-top: 100px;
    flex-direction: column;
  
    

}
.descriptiondetails {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    gap: 20px;
    /* background-color: white; */
    border-bottom: 1px solid gray;
    font-size: 20px;
    /* text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 33px; */

}
.descriptiondetails :hover {
    color: red;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 33px;
    cursor: pointer;
}

.descriptiontext {
    width: 90%;
    height: 60%;
    /* background-color: greenyellow; */
    display: flex;
    padding: 80px;
    font-size: 20px;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}